In [14]:
import pandas as pd
import numpy as np

In [15]:
style.use('ggplot')

In [16]:
df = pd.read_csv('~/Notebook/data/stocks/yf/ITC.BO.csv')

In [17]:
df.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
7152,2020-08-21,198.85,199.00,196.35,196.90,1259484.0,0.0,0.0
7153,2020-08-24,197.00,198.90,196.40,196.65,854654.0,0.0,0.0
7154,2020-08-25,197.00,198.25,195.05,195.55,570292.0,0.0,0.0
7155,2020-08-26,196.05,196.40,193.70,194.95,1200270.0,0.0,0.0
7156,2020-08-27,198.00,198.95,194.10,194.50,888206.0,0.0,0.0

In [18]:
df['Date'] = pd.to_datetime(df['Date'])

In [19]:
df['Week'] = df['Date'].dt.isocalendar().week

In [20]:
df['Month'] = df['Date'].dt.month

In [21]:
df['Year'] = df['Date'].dt.isocalendar().year

In [23]:
df_Weekly = df.groupby(['Year', 'Week']).agg({'Open':'first', 'Close':'last','High' : 'max','Low': 'min', 'Volume' :'sum'})

In [24]:
df_Monthly = df.groupby(['Year', 'Month']).agg({'Open':'first', 'Close':'last','High' : 'max','Low': 'min', 'Volume' :'sum'})

In [25]:
df_Yearly = df.groupby(['Year']).agg({'Open':'first', 'Close':'last','High' : 'max','Low': 'min', 'Volume' :'sum'})

In [12]:
#df_Monthly['VolPerTrade'] =df_Monthly['Volume'] / df_Monthly['Trades']

In [27]:
df_Yearly

        Open   Close    High     Low        Volume
Year
1991    0.00    0.00    0.00    0.00  0.000000e+00
1992    0.00    0.00    0.00    0.00  0.000000e+00
1993    0.00    0.00    0.00    0.00  0.000000e+00
1994    0.00    0.00    0.00    0.00  0.000000e+00
1995    0.00    0.00    0.00    0.00  1.936755e+08
1996    0.00    0.00    0.00    0.00  8.242878e+09
1997    0.00    0.00    0.00    0.00  3.745702e+10
1998    0.00    0.00    0.00    0.00  3.653729e+10
1999    0.00    0.00    0.00    0.00  1.247973e+10
2000    0.00    0.00    0.00    0.00  8.215789e+09
2001    0.00    0.00    0.00    0.00  4.712153e+09
2002    0.00    0.02    0.03    0.00  2.085380e+09
2003    0.02    0.32    0.35    0.02  1.462851e+09
2004    0.33    3.59    3.67    0.24  1.320496e+09
2005    3.63   27.64   28.94    3.33  1.447169e+09
2006   27.74   35.88   41.40   27.23  1.111269e+09
2007   36.27   44.56   45.94   28.58  9.203609e+08
2008   45.10   39.60   51.91   30.64  7.825185e+08
2009   39.56   60.47   94.84   36.14  5.010816e+08
2010   61.49   89.67   94.91   56.10  2.919675e+08
2011   62.78  105.72  113.49   62.59  2.374779e+08
2012  106.61  156.26  165.63  103.46  1.674454e+08
2013  156.18  178.02  210.02  147.10  1.875662e+08
2014  178.41  208.79  227.14  171.89  1.846223e+08
2015  208.85  191.48  228.21  172.29  1.990639e+08
2016  191.89  217.34  239.94  156.79  2.280288e+08
2017  181.36  240.91  323.41  180.95  2.509974e+08
2018  241.09  263.10  301.12  230.10  1.917150e+08
2019  264.54  225.35  290.59  222.64  1.442667e+08
2020  225.97  194.50  231.87  128.34  1.773607e+08